.nav {
    border: 2px solid purple;
    padding: 10px;
    margin: 20px;
}
.nav a {
    margin-right: 20px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.active {
    text-decoration: underline;
}
.box {
    border: 2px solid purple;
    padding: 20px;
    margin: 20px;
}